* {
  margin: 0;
  padding: 0;
  border: 0;
}

#dashboard-component-container {
  background: #F8F8F8;
  border: 2px solid #F4F4F4;
}

#dashboard-component-container > .element_groups_container {

}

#dashboard-component-container > .element_groups_container > .element{
  color: #ffffff;
  background: #393939;
  display: block;
  min-width: 100px;
  width: 10%;
  margin: 0 10px;
  float:left;
}

#dashboard-component-container > .element_groups_container > .element:hover{
  background: #FFFFFF;
  color: #000000;
}

#dashboard-component-container > .element_groups_container > .element:hover > a {
  color: #000000;
}

#dashboard-component-container > .element_groups_container > .element:hover > a > span{
  color: #000000;
}


#dashboard-component-container > .element_groups_container > .element > a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  height: 100px;
  width: 100%;
  cursor: pointer;
  background: url('../images/shipping-type-normal.png')  no-repeat 30px 15px;
}

#dashboard-component-container > .element_groups_container > .element > a:hover {
  background: url('../images/shipping-type-hover.png') no-repeat 30px 15px;
}

#dashboard-component-container > .element_groups_container > .dashboard-group-container {
  display: block;
  width: 100%;
  clear: both;
}

#dashboard-component-container .clearfix:after {
  clear: both;
  content: "";
  display: block;
}

